@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .text-xxxs{
    @apply text-[0.5rem];
  }

  .text-xxs {
    @apply text-[0.54rem];
  }

  .header {
    transform-style: preserve-3d;
    z-index: -1;
  }

  .background {
    transform: translateZ(3px);
  }

  .foreground {
    transform: translateZ(2px);
    scale: 2;
  }
}

@keyframes scaleOut {
  from {
    scale: 0%;
  }
  to {
    scale: 100%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(100cqw - 100%));
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100cqw + 100%));
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slideTop {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(calc(-100cqh + 100%));
  }
}

@keyframes slideBottom {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(calc(100cqh - 100%));
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #dfdede;
}

body::-webkit-scrollbar-thumb {
  background: #373737;
}

body::-webkit-scrollbar-thumb:hover {
  background: #070707;
}


.scrollbar-2px::-webkit-scrollbar {
  width: 2px;
}

.scrollbar-2px::-webkit-scrollbar-track {
  background: #dfdede;
}

.scrollbar-2px::-webkit-scrollbar-thumb {
  background: #373737;
}

.scrollbar-2px::-webkit-scrollbar-thumb:hover {
  background: #070707;
}



.scrollbar::-webkit-scrollbar {
  width: 1px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #dfdede;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #373737;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #070707;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Hides scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hides scrollbar for Firefox */
}

.custom-grid::-webkit-scrollbar {
  width: 8px;
}

.custom-grid::-webkit-scrollbar-track {
  background: #dfdede;
}

.custom-grid::-webkit-scrollbar-thumb {
  background: #373737;
}

.custom-grid::-webkit-scrollbar-thumb:hover {
  background: #070707;
}

@keyframes ease-bounce {
  0%,
  100% {
    transform: translate(5rem, 0%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translate(5rem, 5%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  100% {
    transform: scale(1.3);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1.3);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  25% {
    transform: rotate(45deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: rotate(90deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  75% {
    transform: rotate(135deg);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    transform: rotate(180);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}



.expand-underline {
  color: red;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

.expand-underline::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 1.5px;
  background-color: red;
  transition: width 0.3s ease, left 0.3s ease;
}

.expand-underline:hover::after {
  width: 100%;
  left: 0;
}
